        * {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        h1 {
        text-align:center;
        }
        .a1 {
            width: 385px;
            height: 200px;
            background-color: #808080;
            border-radius: 50px;
            position: relative;
            margin: auto auto;
            top: 250px;     
        }

        .a2 {
            position: absolute;
            left: 50px;
        }
        button {
            width:60px;
            height:20px;
            position: absolute;
            border-radius:5px;
        }

        .a3 {
            left: 50px;
        }

        .a4 {
            right: 50px;
        }
        .a5 {
            position:absolute;
            left:50px;
        }
        b {
            position:absolute;
            left:70px;
            height:40px;
            line-height:48px;
            bottom:0px;
        }
